* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica;
}

form {
    align-items: center;
    gap: 16px;
}

.my-playstation {
    list-style: none;
}

button {
    border-radius: 25px;
}

.icona {
    width: 24px;
}

.sfondo-returnal {
    background-image: url("./img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
}

.bottom {
    bottom: -220px;
}

.game {
    width: 100%;
}

.game:hover {
    transform: translateY(-5px);
}

.slogan {
    font-size: 12px;
}

.ps5 {
    width: 100%;
}

.accessori {
    width: 100%;
}

.sfondo-it-takes-two {
    background-image: url("./img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
}

.playstation-plus {
    background-color: rgb(190 188 187);
}

.playstation-now {
    background-color: rgb(22 28 59);
}

.social {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .social-media {
        width: 75%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .social-media {
        width: 50%;
    }

    .links {
        width: 50%;
    }

    .copyright {
        width: 50%;
    }
}

footer {
    background-color: rgb(0 67 156);
}

.lenguages {
    width: 16px;
}

.link {
    list-style: none;
}

.sie {
    width: 100px;
}