* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica;
}

form {
    align-items: center;
    gap: 16px;
}

.my-playstation {
    list-style: none;
}

button {
    border-radius: 25px;
}

.icona {
    width: 24px;
}

.sfondo-returnal {
    background-image: url("./img/returnal-listing-thumb-01-ps5.jpg");
    background-size: cover;
    background-position: right;
    height: 500px;
    display: flex;
    align-items: center;
}

.bottom {
    bottom: -220px;
}